/* Filter */
.filter {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 510px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Item Book */
.itemBook:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(135, 135, 164, 0.3);
}